body {
	margin: 0;
	padding: 0;
	font: 15px/1.5 Quicksand, Open Sans, Ariel;
	background: #c9d6ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #c9d6ff, #e2e2e2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #c9d6ff, #e2e2e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.linebreak {
	display: none;
}

/* Top left navbar logo */
#toplogo {
	padding: 0;
	margin: 0;
	vertical-align: top;
	display: inline-block;
	position: absolute;
}
#toplogo img {
	height: 80px;
	padding: 0;
	margin: 0;
}

/* Header/navbar */
header {
	background-color: #7aa1d2;
	color: black;
	min-height: 70px;
	padding: 0;
	position: fixed;
	width: 100%;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: black
}

header a {
	display: inline-block;
	color: #191919;
	text-decoration: none;
	font-size: 16px;
	font-family: Quicksand;
	padding: 0 50px 0 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

header ul {
	padding: 0;
	list-style: none;
	text-align: center;
}

header li {
	display: inline-block;
}

header .current a {
	color: #F2F2F2;
}

nav a {
	-webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

nav a:hover {
	color: #d8d8d8;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;

}

nav {
	margin: 0 auto;
	width: 100%;
	line-height: 86px;
	text-align: center;
}

/* Showcase */
#showcase {
	padding-top: 125px;
	min-height: 400px;
	background: url('../img/showcase.jpg') no-repeat;
	background-position: center;
	background-size: 100% 950px;
	text-align: center;
	color: #ffffff;
}

#showcase h1 {
	margin-top: 100px;
	margin-bottom: 10px;
	font-size: 50px;
}

#showcase p {
	font-size: 20px;
}

/* Boxes */
#boxes {
	margin-top: 40px;
	text-align: center;
}

#boxes .box {
	display: inline-block;
	width: 25%;
	padding: 10px;
	text-align: center;
}

#boxes .box img {
	height: 150px;
}

#boxes h3 {
	font-size: 22px;
}

#boxes p {
	font-size: 16px;
}

footer {
	line-height: 25px;
	text-align: center;
	padding: 20px;
	margin-top: 25px;
	background-color: #7aa1d2;
}

footer a {
	color: #f2f2f2;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
	color: #d8d8d8;
}

footer p {
	margin: 0 auto;
}

footer img {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer img:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Media Queries */
@media(max-width: 1600px) {

	header #toplogo {
		position: static;
		display: block;
	}

	header #toplogo img {
		height: 60px;
	}

	header a {
		padding: 0 35px 0 35px;
	}

	nav {
		line-height: 40px;
	}


	.container {
		text-align: center;
	}
}

@media(max-width: 768px) {
	#boxes .box {
		display: block;
		margin: auto;
		width: 150px;
	}

		header a {
		letter-spacing: 1px;
		padding: 0 15px 0 15px;
	}

	#showcase {
	padding-top: 100px;

	}

	.linebreak {
		display: inline;
	}
}
